<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>captain_america_side.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,262}</string>
                <key>spriteSourceSize</key>
                <string>{243,262}</string>
                <key>textureRect</key>
                <string>{{1,1},{243,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuwit_side.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,262}</string>
                <key>spriteSourceSize</key>
                <string>{243,262}</string>
                <key>textureRect</key>
                <string>{{1,265},{243,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_side.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,262}</string>
                <key>spriteSourceSize</key>
                <string>{243,262}</string>
                <key>textureRect</key>
                <string>{{1,529},{243,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mark_side.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,262}</string>
                <key>spriteSourceSize</key>
                <string>{243,262}</string>
                <key>textureRect</key>
                <string>{{246,1},{243,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monlo_side.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,262}</string>
                <key>spriteSourceSize</key>
                <string>{243,262}</string>
                <key>textureRect</key>
                <string>{{491,1},{243,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pablo_side.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,262}</string>
                <key>spriteSourceSize</key>
                <string>{243,262}</string>
                <key>textureRect</key>
                <string>{{736,1},{243,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prayut_side.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,262}</string>
                <key>spriteSourceSize</key>
                <string>{243,262}</string>
                <key>textureRect</key>
                <string>{{246,265},{243,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tanee_side.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,262}</string>
                <key>spriteSourceSize</key>
                <string>{243,262}</string>
                <key>textureRect</key>
                <string>{{246,529},{243,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trump_side.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,262}</string>
                <key>spriteSourceSize</key>
                <string>{243,262}</string>
                <key>textureRect</key>
                <string>{{491,265},{243,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wonder_woman_side.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,262}</string>
                <key>spriteSourceSize</key>
                <string>{243,262}</string>
                <key>textureRect</key>
                <string>{{736,265},{243,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xi_jinping_side.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,262}</string>
                <key>spriteSourceSize</key>
                <string>{243,262}</string>
                <key>textureRect</key>
                <string>{{491,529},{243,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Avatar_Side.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84bdc8ae8da26429299fc6969b153388:1ed3c49a57c93ef6dc081660292d3398:789626f65075e8e4608739b00221466d$</string>
            <key>textureFileName</key>
            <string>Avatar_Side.png</string>
        </dict>
    </dict>
</plist>
