<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>captain_america_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,262}</string>
                <key>spriteSourceSize</key>
                <string>{243,262}</string>
                <key>textureRect</key>
                <string>{{1,1},{243,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuwit_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,262}</string>
                <key>spriteSourceSize</key>
                <string>{243,262}</string>
                <key>textureRect</key>
                <string>{{1,265},{243,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kim_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,262}</string>
                <key>spriteSourceSize</key>
                <string>{243,262}</string>
                <key>textureRect</key>
                <string>{{1,529},{243,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mark_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,262}</string>
                <key>spriteSourceSize</key>
                <string>{243,262}</string>
                <key>textureRect</key>
                <string>{{246,1},{243,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monlo_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,262}</string>
                <key>spriteSourceSize</key>
                <string>{243,262}</string>
                <key>textureRect</key>
                <string>{{491,1},{243,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pablo_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,262}</string>
                <key>spriteSourceSize</key>
                <string>{243,262}</string>
                <key>textureRect</key>
                <string>{{736,1},{243,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prayut_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,262}</string>
                <key>spriteSourceSize</key>
                <string>{243,262}</string>
                <key>textureRect</key>
                <string>{{246,265},{243,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tanee_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,262}</string>
                <key>spriteSourceSize</key>
                <string>{243,262}</string>
                <key>textureRect</key>
                <string>{{246,529},{243,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trump_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,262}</string>
                <key>spriteSourceSize</key>
                <string>{243,262}</string>
                <key>textureRect</key>
                <string>{{491,265},{243,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wonder_woman_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,262}</string>
                <key>spriteSourceSize</key>
                <string>{243,262}</string>
                <key>textureRect</key>
                <string>{{736,265},{243,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xi_jinping_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,262}</string>
                <key>spriteSourceSize</key>
                <string>{243,262}</string>
                <key>textureRect</key>
                <string>{{491,529},{243,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Avatar_Front.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84363b2bcc3b6fdc785f5a5e112ccdea:24524ada8985faa1dc655c815b362a28:ac3db4b11e19e300b4967c50939275be$</string>
            <key>textureFileName</key>
            <string>Avatar_Front.png</string>
        </dict>
    </dict>
</plist>
